*{
    box-sizing: border-box;
    text-align: center;
    background: rgb(51, 51, 51);
    color: white;
    font-family: Courier, serif;

}


h1{
    padding-top: 30px;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

#author{
    padding-bottom: 25px;
    border: 0;
    margin: 0;
}
p{
    font-size: 15px;
    padding-bottom: 25px;
}


section{
    display: flex;
    justify-content: center;
    padding: 25px;
}


.tricks{
    height: 100px;
    width: 100px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

button{
    padding: 10px;
    margin-top: 25px;
    color: black;
    background: white;
    font-weight: bold;
    font-size: 18px;
}


@media only screen and (orientation: portrait){
 section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
 div{
    display: flex;
    width: 50%;
 }
 .one, .three{
    justify-content: end;
 }
}